<%= form_for(@modulo) do |f| %>
  <% if @modulo.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @modulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_area :nombre %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :creditos %><br>
    <%= f.number_field :creditos %>
  </div>
  <div class="field">
    <%= f.label :nivel %><br>
    <%= f.number_field :nivel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
