<p id="notice"><%= notice %></p>

<h1>Mallas</h1>

<table>
  <thead>
    <tr>
      <th>Plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mallas.each do |malla| %>
      <tr>
        <td><%= malla.plan %></td>
        <td><%= link_to 'Ver', malla %></td>
        <td><%= link_to 'Editar', edit_malla_path(malla) %></td>
        <td><%= link_to 'Eliminar', malla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Malla', new_malla_path %>
